body {
    background-color: red;
}

.images {
    height: 200px;
    width: 200px;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.none {
    display: none;
}


.hide {
    visibility: hidden;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.gray {
    background-color: gray;
    opacity: 70%;
}

.width-full {
    width: 100%;
}

.height-full {
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bottom, Right, Left, Top can only be used if your position is absolute, fixed, relative, sticky */
.slightly-bottom-right {
    bottom: 200px;
    right: 300px;
}


.slightly-bottom-left {
    bottom: 200px;
    left: 300px;
}

.top {
    top:  0px;
    left: 50%;
}
